.hero{
    background-image: url('/hero banner.png');
    object-fit: cover;
    opacity: 0.9;
    height: 91vh;
    padding: 4rem;
}
.hero_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonss{
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    gap: 2rem;
}
.myheading{
    font-size: 2rem;
}
.hover-green:hover{
    border-color: red;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.cont_margin{
    margin: 3.5rem;
}
.aboutus {
    background-image: url('./3.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    border-radius: 12px;
    display: flex;
    margin: 2rem;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align:justify;
  }
  .aboutus button {     
    padding: 0.5rem 2.5rem;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 6px;
  }
  .box{
    background-image: url("/foodforu/public/1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    border-radius: 12px;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align:justify;
  }
  .box{
    border: 2px solid black;
    margin-top: 2rem;
    width: 40%;
  }
  .box img{
    border-radius: 50%;
    height: 5rem;
    width: 8rem;
  }
  .customer{
    margin-top: 10rem;
  }
.login{
  margin-left: 10rem;
}
.logo{
  width: 2.5rem;
  height: 2rem;
}
.roll{
  background-image: url('./public/rollimg/1.jpg');
  background-size: cover;
  background-position: center;
  height: "100vh";
}
.w-6{
  width: 6rem;
  height: 2.5rem;
  border-radius: 32%;
}
.logout{
  cursor: pointer;
}